<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link rel="stylesheet" href="../../public/all.css" />
    <link rel="stylesheet" href="../../public/issue-tracker.css" />
  </head>

  <body>
    <header>
      <h1>Issue Tracker</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/metric-imperial">Metric-Imperial Converter</a>
          </li>
          <li class="current"><a href="/issue-tracker">Issue Tracker</a></li>
          <li><a href="/personal-library">Personal Library</a></li>
          <li><a href="/sudoku-solver">Sudoku Solver</a></li>
          <li><a href="/american-british">American British Translator</a></li>
        </ul>
      </nav>
    </header>
    <hr />
    <main>
      <section>
        <h3 class="title">Example <code>GET</code> Usage</h3>
        <code>/api/issues/:project:</code><br />
        <code>/api/issues/:project:?open=true&amp;assigned_to=Joe</code><br />
        <h3 class="title">Example Return</h3>
        <pre>
<code>
[
  { 
    "title": "Fix error in posting data",
    "text": "When we post data it has an error.",
    "created_by": "Joe",
    "assigned_to": "Joe",
    "status_text": "In QA"
    "created_on": "08/01/2017",
    "last_updated": "08/01/2017",
    "open": true,
  },
  ...
]</code>
      </pre>
        <p>Note: issue dates are in DD/MM/YYYY format.</p>
      </section>
      <hr />
      <section id="testui">
        <h2>API Tests</h2>
        <h3 class="title">Get Projects</h3>
        <form class="form" id="getProjects">
          <button type="submit">Get Projects</button>
        </form>

        <h3 class="title">Create Project</h3>
        <form class="form" id="createProject">
          <label class="label">
            Project name:
            <input type="text" name="project_name" />
          </label>
          <label class="label">
            Project owner:
            <input type="text" name="project_owner" />
          </label>
          <br />
          <button type="submit">Create Project</button>
        </form>

        <h3 class="title">Get Issues</h3>
        <form class="form" id="getIssues">
          <label class="label">
            Project name:
            <input
              type="text"
              name="project_name"
              placeholder="*Name of issues' project"
              required
            />
          </label>
          <br />
          <h4 class="title filters-title">Issue Filters</h4>
          <fieldset class="fieldset flex-grid">
            <label class="label"
              >Title:<br /><input
                type="text"
                name="title"
                title="Title"
                placeholder="Title"
                maxlength="50" /></label
            ><label class="label"
              >Text:<br /><textarea
                name="text"
                placeholder="Text"
                maxlength="50"
              ></textarea></label
            ><label class="label"
              >Created by:<br /><input
                type="text"
                name="created_by"
                title="Created by"
                placeholder="Created by"
                maxlength="50" /></label
            ><label class="label"
              >Assigned to:<br /><input
                type="text"
                name="assigned_to"
                title="Assigned to"
                placeholder="Assigned to"
                maxlength="50" /></label
            ><label class="label"
              >Status text:<br /><input
                type="text"
                name="status_text"
                title="Status text"
                placeholder="Status text"
                maxlength="50" /></label
            ><label class="label"
              >Open/closed:<br /><select name="open" title="open">
                <option value="">Open?</option>
                <option value="true">Open</option>
                <option value="false">Closed</option>
              </select></label
            ><label class="label"
              >Created on:<br /><input type="date" name="created_on" /></label
            ><label class="label"
              >Last updated on:<br /><input type="date" name="last_updated"
            /></label>
            <label class="label">
              Index:
              <input type="number" name="index" min="0" step="1" />
            </label>
          </fieldset>
          <input type="reset" />
          <button type="submit">Get Project Issues</button>
        </form>

        <h3 class="title">Submit Issue</h3>
        <form class="form" id="submitIssue">
          <fieldset class="fieldset flex-grid">
            <label class="label"
              >Project name:<input
                type="text"
                name="project_name"
                placeholder="*Project to post issue to"
                required
            /></label>
          </fieldset>
          <fieldset class="fieldset flex-grid">
            <label class="label"
              >Title:<br /><input
                type="text"
                name="title"
                placeholder="*Title"
                required /></label
            ><label class="label"
              >Text:<br /><textarea
                name="text"
                placeholder="*Text"
              ></textarea></label
            ><label class="label"
              >Created by:<br /><input
                type="text"
                name="created_by"
                placeholder="*Created by"
                required /></label
            ><label class="label"
              >Assigned to:<br /><input
                type="text"
                name="assigned_to"
                placeholder="Assigned to" /></label
            ><label class="label"
              >Status text:<br /><input
                type="text"
                name="status_text"
                placeholder="Status text"
            /></label>
          </fieldset>
          <input type="reset" />
          <button type="submit">Submit Issue</button>
        </form>

        <h3 class="title">Update Single Issue</h3>
        <form class="form" id="issueIndex">
          <label class="label">
            Project name:
            <input
              type="text"
              name="project"
              placeholder="*Project"
              title="Name of the project that contains the issue to update"
              required
            />
          </label>
          <label class="label">
            Issue index:
            <input
              type="number"
              min="0"
              step="1"
              name="issue-name"
              title="Index of issue to update (zero-based)"
              placeholder="*Issue index"
              required
            />
          </label>
          <br />
          <br />
          <button type="submit">Fetch Issue To Update</button>
        </form>
        <form class="form hidden" id="update">
          <h4>Issue Fields to Update</h4>
          <label class="label">
            Issue title:
            <input type="text" name="new-title" placeholder="title" />
          </label>
          <label class="label">
            Issue text:
            <textarea type="text" name="new-text" placeholder="text"></textarea>
          </label>
          <label class="label">
            User assigned to:
            <input
              type="text"
              name="new-assigned-to"
              placeholder="assigned to"
            />
          </label>
          <label class="label">
            Issue status:
            <input
              type="text"
              name="new-status-text"
              placeholder="status text"
            />
          </label>
          <label class="label">
            Open or closed issue:
            <input type="checkbox" name="new-open" checked />Open</label
          >
          <button type="submit">Update Issue</button>
        </form>

        <h3 class="title">Delete Issue</h3>
        <form class="form" id="delete">
          <label class="label">
            Project name:
            <input
              type="text"
              name="project"
              placeholder="*Project"
              title="Name of the project that contains the issue to delete"
              required
            />
          </label>
          <label class="label">
            Project index:
            <input
              type="number"
              name="index"
              placeholder="*Issue index"
              title="Index of issue to delete (zero-based)"
              min="0"
              step="1"
              required
            />
          </label>
          <button type="submit">Delete Issue</button>
        </form>

        <code id="jsonResult"
          >{ "message": "submit a form to see its result here" }</code
        >
      </section>
    </main>
    <hr />
    <footer>
      <ul>
        <li>
          <p>By Carlos Bernal.</p>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/carlos-jonathan-bernal-torres-07b90a1b1/"
            >My LinkedIn</a
          >.
        </li>
        <li>
          <a target="_blank" href="https://github.com/Solarc117">My Github</a>.
        </li>
        <li>
          <a target="_blank" href="https://www.freecodecamp.org/solarc"
            >My freeCodeCamp</a
          >.
        </li>
      </ul>
    </footer>
  </body>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../public/issues-client.js"></script>
</html>
